<h1>Upload Area</h1>

<h5>Permitted file types: </h5>
<div class="d-flex flex-row ml-2">
  <div *ngFor="let type of allowedFileTypes">
    <span class="file-type">{{type + ","}} &nbsp;</span>
  </div>
</div>

<div class="mt-2 d-flex flex-row align-items-baseline">
  <h5>File size limit: </h5>
  <span class="ml-2">{{bytesToSize(fileSizeLimit)}}</span>
</div>

<div class="col mt-3">

  <div class="row-md-9">

      <h3>Add Files</h3>

      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="card bg-faded p-3 text-center mb-3 my-drop-zone">
           <i class="fa fa-upload fa-3x"></i>
          Drop files here
      </div>

      Multiple
      <input class="my-2" type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>

      Single
      <input class="my-2" type="file" ng2FileSelect [uploader]="uploader" />
  </div>

  <div class="row-md-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader?.queue?.length }}</p>

      <table class="table">
          <thead>
          <tr>
              <th width="50%">Name</th>
              <th>Size</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name.slice(0,8) + "...." + item?.file?.name.slice(-8) }}</strong></td>
              <td *ngIf="uploader.options.isHTML5" nowrap>{{ bytesToSize(item?.file?.size) }}</td>
          </tr>
          </tbody>
      </table>

      <div>
          <div>
              Queue progress:
              <div class="progress my-3">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
          </div>
          <button type="button" class="btn btn-success btn-s"
                  (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="fa fa-upload"></span> Upload all
          </button>
          <button type="button" class="btn btn-warning btn-s mx-2"
                  (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
              <span class="fa fa-ban"></span> Cancel all
          </button>
          <button type="button" class="btn btn-danger btn-s"
                  (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
              <span class="fa fa-trash"></span> Remove all
          </button>
      </div>

  </div>

</div>


