<h5 class="file-type">{{"Table for " + fileType + " type files:"}}</h5>
  <table class="table table-striped table-border">
    <thead>
      <tr>
        <th scope="col">Preview</th>
        <th scope="col">File name</th>
        <th scope="col">File size</th>
        <th scope="col">Upload date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files$ | async">
        <td ><img [src]="createFilePath(file.filePath)" alt="uploaded file" style="width:60px; height:60px;"></td>
        <td >{{file.fileName.slice(0,5) + "...." + file.fileName.slice(-8)}}</td>
        <td >{{bytesToSize(file.fileSize)}}</td>
        <td >{{file.uploadDate}}</td>
      </tr>
    </tbody>
  </table>
